# Node / frontend
node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# .NET / backend
backend/**/bin/
backend/**/obj/
backend/**/publish/
backend/**/*.zip
backend/TaskFlow.Api/wwwroot/

# Local Postgres dev cluster (created by initdb, not part of the app)
.pgdata/

# Environment / secrets
*.env.local
frontend/.env.production

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.user
*.ntvs*
*.njsproj
*.sw?

# Logs
*.log
npm-debug.log*
